html {
  text-align: center;
  font-family: Helvetica;
}

.headSection {
  color: white; 
}

.headSection h1 {
  font-size: 70px;
  font-weight: bold;
}

.headSection li {
  font-size: 18px;
  font-weight: underline;
}
