html {
  text-align: center;
  font-family: Helvetica;
}

.headSection {
  color: white; 
  background-image: url("./resources/the-flatiron-building.jpg");
  background-size: cover;
}

.headSection h1 {
  font-size: 70px;
  font-weight: bold;
}

.headSection li {
  font-size: 18px;
  text-decoration: underline;
  list-style: none;
  line-height: 150%;
}

.processSection {
  font-weight: bold;
}

.processSection h3 {
  font-size: 32px;
}

.processSection h4 {
  font-size: 23px;
}

.processSection p {
  font-size: 14px;
}

.infoSection {
  font-size: 23px;
  font-weight: bold;
}

.infoSection h3 {
  color: white;
  background-image: url("./resources/the-flatiron-building.jpg");
  background-size: cover;
}

.infoSection p {
  font-size: 14px;
  font-weight: normal;
}

.footSection {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.footSection li {
  text-decoration: underline;
  list-style: none;
  display: inline;
}

